output/
*.pyc
*.jpg
*.obj
/test_output
*.npz
/evaluation/data
/evaluation/baseline
/evaluation/dual_reference
/evaluation/interpolation
/evaluation/results
data/demo/source/gHO_sBM_cAll_d20_mHO1_ch05.npy
/data
/docs
